.wrp {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.box {
    width: 250px;
    height: 50px;
    overflow: hidden;
}

.box::before {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-color: black;
    animation: slideInOut 0.5s ease-in-out both;
}

@keyframes slideInOut {
    0% {
        transform: translateX(-101%);
    }
    100% {
        transform: translateX(101%);
    }
}
